.contrast #progress #left {
	color: white;
}

.contrast .team_service {
	padding-top: 8px;
}

.contrast .team_selected .team_service .flags {
	font-size: 18px;
}

.contrast .team_service .flags {
	font-size: 16px;
	opacity: 1;
}

.contrast .team_service .fp {
	font-size: 18px;
}

.contrast .team_selected .team_service .fp {
	font-size: 20px;
}

.contrast #scoreboard .rect-green {
	fill: #819AA5;
}

.contrast #scoreboard .rect-green.colored {
	fill: #84E668;
}

.contrast .team_service .flags {
	margin-top: 8px;
}

.contrast .team_selected .team_service .flags {
	margin-top: 20px;
}

.contrast .slaline {
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

.contrast .ip {
	opacity: 0;
}

.contrast .team_selected .maxSla {
	opacity: 0;
}

.contrast .status {
	opacity: 0;
}

.contrast #header .min {
	color: white;
}

.contrast .svgDelimeter {
	fill: #ffffff;
}

.contrast .plotborder {
	fill-opacity: 0.6;
}

.contrast .plottext {
	fill-opacity: 0.7;
	font-size: 16px;
}

.contrast .plotsprogress .counter {
	font-size: 16px;
	margin-top: 0;
}

.contrast .slapercent {
	font-size: 18px;
	width: 55px;
}

.contrast .slaline {
	left: 54px;
}

.contrast .team_selected .slaline {
	left: 0;
}

.contrast .attacksplot path {
	stroke: white;
}